/* You can add global styles to this file, and also import other style files */
@import './styles/defaults.css';
@import './styles/colors.css';


.large-padding{
  padding: 10px 15px;
}
.lateral-padding{
  padding: 0 8px;
}

.float-right{
  float: right;
}

.small-font{
  font-size: 0.8rem;
}

.top-space{
    margin-top: 1em;
}

.full-width{
  width: 100%;
}

.card{
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12) 0 1px 2px rgba(0,0,0,0.24);
  box-sizing: border-box;
  position: relative;
  background-color: white;
}
.card.with-badge{
  display: grid;
  /*se divide en 10 columnas iguales (1 fraccion para todas las columnas)*/
  grid-template-columns: repeat(10,1fr);
  /* define como se va separar el grid*/
  grid-template-areas: "title title title title title title title title badge badge";
  /* en cssgrid se alinea los elementos con la prop align-items y otros, sino debido a que el badge no tiene la misma altura q el title q esta a su costado lo empujaria hacia arriba*/
  align-items: center;
}
.card.with-badge h4{
  /* el h4 ocupa el grid con el area llamada title (las 8 columnas)*/
  grid-area: title;
}
.card.with-badge .badge{
  /* el div.badge ocupa el grid con el area llamada badge (las 2 columnas)*/
  grid-area: badge;
  display: flex;
  justify-content: flex-end;
}

.card.with-badge .badge span{
  height: 3em;
  width: 3em;
  border-radius: 50%;
  font-size: 0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
}



.form-control{
  width: 100%;
  outline: 0;
  border: 0;
  display: block;
  padding: 10px 15px;
  margin-top: 1em;
  font-size: 1em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  /* considera el padding y border como parte del ancho, sino el ancho solo sería el del contenido */
  box-sizing: border-box;
}

.btn{
  border: 0;
  outline: 0;
  border-radius: 4px;
  padding: 1em 1.5em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-size: 1em;
  box-sizing: border-box;
  text-transform: uppercase;
  cursor: pointer;
}


.main-nav .float-right a{
  margin-left: 1em;
}

.main-nav a{
  text-decoration: none;
}
